<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Sélection</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <h1> Veuillez sélectionner vos critères</h1>
  <form #f="ngForm" (ngSubmit)="submit()">
    <ion-list no-lines>

      <ion-item *ngFor="let r of remainingCars | keyvalue">
        <ion-label>{{r.key}}</ion-label>
        <ion-select (ionBlur)="onChange()" [(ngModel)]="requirement[r.key]" multiple="true" name="{{r.key}}" placeholder={{placeholder}}>
          <ion-option *ngFor="let c of r.value | keyvalue" value="{{c.key}}" [disabled]="c.value == 0">{{c.key}} ({{c.value}} restants)</ion-option>
        </ion-select>
      </ion-item>


      <!--<ion-item>-->
      <!--<ion-label>Categories</ion-label>-->
      <!--<ion-select (ionChange)="onChange()" [(ngModel)]="requirement.categorie" multiple="true" name="categorie" placeholder={{placeholder}}>-->
      <!--<ion-option *ngFor="let c of categories">{{c}}</ion-option>-->
      <!--</ion-select>-->
      <!--</ion-item>-->

      <!--<ion-item>-->
      <!--<ion-label>Nombre de portes</ion-label>-->
      <!--<ion-select (ionChange)="onChange()" [(ngModel)]="requirement.portes" multiple="true" name="portes" placeholder={{placeholder}}>-->
      <!--<ion-option *ngFor="let p of portes">{{p}} portes</ion-option>-->
      <!--</ion-select>-->
      <!--</ion-item>-->

      <!--<ion-item>-->
      <!--<ion-label>Nombre de places</ion-label>-->
      <!--<ion-select (ionChange)="onChange()" [(ngModel)]="requirement.places" multiple="true" name="places" placeholder={{placeholder}}>-->
      <!--<ion-option *ngFor="let p of places">{{p}}{{p == places[places.length-1] ?' ou plus' : ''}}</ion-option>-->
      <!--</ion-select>-->
      <!--</ion-item>-->

      <!--<ion-item>-->
      <!--<ion-label>Type de boites</ion-label>-->
      <!--<ion-select (ionChange)="onChange()" [(ngModel)]="requirement.boite" multiple="true" name="boite" placeholder={{placeholder}}>-->
      <!--<ion-option *ngFor="let b of boites">{{b}}</ion-option>-->
      <!--</ion-select>-->
      <!--</ion-item>-->

      <!--<ion-item>-->
      <!--<ion-label>Type de carburant</ion-label>-->
      <!--<ion-select (ionChange)="onChange()" [(ngModel)]="requirement.carburant" multiple="true" name="carburant" placeholder={{placeholder}}>-->
      <!--<ion-option *ngFor="let c of carburants">{{c}}</ion-option>-->
      <!--</ion-select>-->
      <!--</ion-item>-->

      <!---->
      <!--<ion-item>-->
      <!--<ion-searchbar (ionBlur)="onChange()" [(ngModel)]="requirement.marque[0]" name="marque" placeholder="Quelle marque recherchez-vous ?"></ion-searchbar>-->
      <!--</ion-item>-->

      <!--<ion-item>-->
      <!--<ion-label>Origine</ion-label>-->
      <!--<ion-select (ionChange)="onChange()" [(ngModel)]="requirement.origine" multiple="true" name="origine" placeholder={{placeholder}}>-->
      <!--<ion-option *ngFor="let o of origines">{{o}}</ion-option>-->
      <!--</ion-select>-->
      <!--</ion-item>-->

      <!--<ion-item>-->
      <!--<ion-label>Ancienneté</ion-label>-->
      <!--<ion-select (ionChange)="onChange()" [(ngModel)]="requirement.anciennete" multiple="true" name="anciennete" placeholder={{placeholder}}>-->
      <!--<ion-option *ngFor="let a of anciennetes">{{a==anciennetes[0]?'Neuf':a+' année(s)'}}{{a == anciennetes[anciennetes.length-1]?' ou plus':''}}</ion-option>-->
      <!--</ion-select>-->
      <!--</ion-item>-->

      <!--<ion-item>-->
      <!--<ion-label>Consommation</ion-label>-->
      <!--<ion-select (ionChange)="onChange()" [(ngModel)]="requirement.consommation" multiple="true" name="consommation" placeholder={{placeholder}}>-->
      <!--<ion-option *ngFor="let c of consommations">{{'Moins de '+c+' L/100km'}}</ion-option>-->
      <!--</ion-select>-->
      <!--</ion-item>-->

      <!--<ion-item>-->
      <!--<ion-label>RejetsCO2</ion-label>-->
      <!--<ion-select (ionChange)="onChange()" [(ngModel)]="requirement.co2" multiple="true" name="co2" placeholder={{placeholder}}>-->
      <!--<ion-option *ngFor="let c of co2s">{{'Moins de '+c+' g/L'}}</ion-option>-->
      <!--</ion-select>-->
      <!--</ion-item>-->

      <ion-item>
        <ion-range  (ionChange)="onChange()" [dualKnobs]="true" [(ngModel)]="prix" name="prix" min="1000" max="50000" step="1000" snaps="true"></ion-range>
        <ion-label>Fourchette : {{prix.lower | currency:"EUR"}} - {{prix.upper | currency:"EUR"}}</ion-label>
      </ion-item>

      <ion-item>
        <button type="submit" ion-button>Rechercher</button>
      </ion-item>

      <ion-item>
        <ion-label>Nombre de voitures trouvées : {{numberOfResults}}</ion-label>
      </ion-item>
    </ion-list>
  </form>
</ion-content>
