<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>List</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <button ion-button type="button" (click)="sort()">Trier par prix {{descending ? 'décroissant' : 'croisant'}}</button>

  <ion-list>
    <button ion-item *ngFor="let voiture of voitures$ | sort: {property: 'prix', order:order}" (click)="itemTapped($event, voiture)">
      {{voiture.marque}}
      <div class="voiture-note" voiture-end>
        {{voiture.couleur}}
      </div>
      {{voiture.prix | currency:"EUR"}}
    </button>
  </ion-list>

  <div *ngIf="selectedItem" padding>
    Vous avez sélectionné une  <b>{{selectedItem.marque}} {{selectedItem.couleur}} à {{selectedItem.prix | currency:"EUR"}}</b>
  </div>
</ion-content>
