<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>List</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let attribute of cars$[0] | keyvalue" (click)="sort(attribute.key)">
        {{attribute.key}}
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let car of cars$ | sort: {property: property, order:order}" (click)="printDescription($event, car)">
      <ion-col *ngFor="let attribute of car | keyvalue">
        {{attribute.value}}
      </ion-col>
    </ion-row>
  </ion-grid>
  <div *ngIf="selectedItem" padding>
    Vous avez sélectionné une  <b>{{selectedItem.marque}} {{selectedItem.couleur}} à {{selectedItem.prix | currency:"EUR"}}</b>
  </div>
</ion-content>
